
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  main {
    background: #fafafa;
    display: flex;
    justify-content: center;
}

.cell-phone-content {
  height: 620px;
  width: 620px;
}

.cell-phone {
  background: url("../img//cellp.png") no-repeat;
  height: 100%;
  width: 100%;
  background-attachment: local;
  background-position: -170px 34px;
}

.content-login-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login-section {
  display: flex;
  width: 60%;
  height: 45%;
  background: #FFF;
  margin: 40px 0px -40px 0px;
  border: 1px solid #d3d3d3;
  flex-direction: column;
  align-items: center;
}

.login-section img {
  margin-top: 5%;
}

.login-section img.profile-pic {
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.form-content {
  display: flex;
  justify-content: center;
  width: 100%;
}


.login-section .continue_insta {
  background: #0095f6;
  padding: 2%;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 2px;
  margin-bottom: 4%;

}


span.facebook-icon img {
  width: 20px;
  margin-bottom: 0;
  margin-left: -20px;
}

.login-section .forget-pass {
  text-decoration: none;
  color: #0095f6;
  font-size: 0.9rem;
  font-weight: 500;
}

.sign-up {
  display: flex;
  width:60%;
  height: 10%;
  background: #fff;
  border: 1px solid #d3d3d3;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sign-up p {
  color:#696969;
  font-size: 14px;
 
}

.sign-up a{
  color: rgba(var(--d69,0,149,246),1);
  text-decoration: none;
  font-weight: 500;
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.content-donwload-app {
  display: flex;
  width: 100%;
  justify-content: center;
}

.download-app p.title-download-app {
  margin-bottom: 10px;
}

.content-donwload-app img {
  width: 150px;
  padding: 5px;
}

@media (max-width: 875px)
{
  .cell-phone-content{
    display: none;
  }
  .login-section{
    height: 70%;
    margin: 40px 0px 10px 0px;
  }
  .sign-up{
    height: 20%;
    margin-bottom: 10px;
  }
}